#front-end, #digital-design, #graphic-design {
    height: auto;
}

.design-container {
    padding: 1.5rem 5%;
}

.design-title{
    padding: 75px 5% 1.5rem 5%;
    border-bottom: 1px solid white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/*************
title symbols
**************/

.front-end-cross, .graphic-plus{
    height: 25px;
    width: 25px;
    fill: none;
    stroke: white;
    stroke-width: 2px;
    margin-top: 2.5%;
}

.front-end-cross{
    transform: rotate(45deg);
}

.digital-circle{
    height: 25px;
    width: 25px;
    background: none;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 2.5%;
}

/****************
subtitle
*********/

.design-subtitle{
    color: turquoise;
}

.project-link a{
    color: turquoise;
    margin-right: 1.5rem;
    border: 1px solid turquoise;
    padding: 5px;
    border-radius: 100px;
    background: black;
    box-shadow: 5px 5px 5px #000000;
    transition: 250ms;
}

.project-link{
    margin: 5% 0;
}

.project-link :hover{
    background: #111111;
    box-shadow: none;
    transition: 250ms;
}
