/*************
title symbols
**************/

.symbol{
    height: 25px;
    width: 25px;
    margin-top: 2.5%;
}

.front-end-cross, .graphic-plus{
    fill: none;
    stroke: white;
    stroke-width: 2px;
}

.front-end-cross{
    transform: rotate(45deg);
}

.digital-circle{
    background: none;
    border: 1px solid white;
    border-radius: 50%;
}

/*************
heading
*************/

#front-end, #digital-design, #graphic-design {
    height: auto;
    animation: fadeIn 2500ms;
}

main {
    max-width: 90%;
    margin: 0 auto;
}


.design-title{
    padding: 75px 0 1.5rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/****************
project content
*********/

.project-content {
    padding: 1.5rem 0;
    border-top: 1px solid white;
}

.project-text{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.project-content h2, .tools p{
    color: turquoise;
}

.tools p{
    margin-bottom: 1.5rem;
}

/*************
project links
***************/

.project-link a{
    color: turquoise;
    margin-right: 1.5rem;
    padding: 0 10px;
    border-radius: 100px;
    background: black;
    border: 1px solid turquoise;
    box-shadow: 5px 5px 5px #00000050;
    transition: 250ms;
    letter-spacing: 1px;
}

.project-link :hover{
    background: #111111;
    box-shadow: none;
    transition: 250ms;
}

img {
    max-width: 100%;
    margin-bottom: 0.75rem;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #00000050;
}

.tictac {
    width: 80%;
    border-radius: 10px;
    border: 1px solid #858585;
}

.image-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*************
media queries
***************/

@media (min-width: 760px){

    #front-end, #digital-design, #graphic-design {
        padding: 10% 0;
    }

    .symbol{
        height: 3.75rem;
        width: 3.75rem;
        margin-left: 35px;
    }

    .project-content {
        padding: 3rem 0;
    }

    .project-text{
        margin-bottom: 3rem;
    }

    .project-link a{
        font-size: 1.5rem;
        padding: 0 20px;
        margin-right: 3rem;
    }

    img {
        margin-bottom: 1.5rem;
    }

    .tictac{
        max-width: 30%;
        padding: 0;
    }

    .tictac img{
        margin-bottom: 0;
    }

    .image-section2 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

}

@media (min-width: 1024px){

    .design-title{
        padding-bottom: 5rem;
    }

    .project-content h2{
        padding-top: 3rem;
        font-size: 3.5rem;
    }

    .project-text{
        flex-direction: row;
    }

    .tools{
        min-width: 50%;
    }

    img {
        margin-bottom: 3rem;
    }
    
  }

  @media (min-width: 1200px){

    main{
        max-width: 1200px;
    }

    img {
        margin-bottom: 3rem;
    }
  }
