#home {
  animation: slide 1000ms;
  background: white;
  background: blue;
}

#home .container{
    height: auto;
    background: url("/images/Homepage.jpg") center no-repeat;
    background-size: cover;
    background-position-x: 50%;
    position: relative;
    border-bottom: none;
  }

  .hi{
    margin-top: 25px;
  }
  
  .small-circle{
    background: turquoise;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    mix-blend-mode: multiply;
    margin-left: 35px;
  }

  .pink-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F037A5;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    letter-spacing: 2px;
    margin-top: -15px;
  }

  .pink-circle h1{
    color: white;
  }

  header h1{
    color: #F037A5;
  }

  .sub-heading{
    margin: 2rem 0;
    font-size: 0.75rem;
    line-height: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    color: black;
    max-width: 50%;
  }

  .home-cross{
    fill: turquoise;
    height: 3.5rem;
    width: 3.5rem;
    transform: rotate(20deg);
  }

  .contact-button{
    position: absolute;
    bottom: 50px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #858585;
    box-shadow: 5px 5px 10px #000000;
    height: 40px;
    border-radius: 100px;
    color: white;
    transition: 250ms;
  }

  .contact-button:hover{
    box-shadow: none;
    background: #555555;
    transition: 250ms;
  }

  .contact-button i{
      font-size: 36px;
      margin-right: 3px;
  }

  .contact-button p{
      font-size: 1.5rem;
      margin: 0 auto;
  }

/*************
media queries
*************/

@media (min-width: 760px){

  #home .container{
    height: 100vh;
  }

  .hi{
    margin-top: 75px;
  }

  .small-circle{
    height: 3.75rem;
    width: 3.75rem;
    margin-left: 70px;
  }
  
  .pink-circle{
    height: 7.5rem;
    width: 7.5rem;
    margin-top: -30px;
  }

  .home-cross{
    position: absolute;
    right: 5%;
    bottom: 25%;
    height: 6.25rem;
    width: 6.25rem;
  }

  .contact-button{
    position: unset;
    max-width: 250px;
    box-shadow: 5px 5px 10px #00000050;
  }
}


@media (min-width: 1024px){

  #home{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .sub-heading{
    max-width: 45%;
    margin-bottom: 4.5rem;
  }

}