
nav{
    position: fixed;
    width: 100%;
    background: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    text-align: center;
}

.tablet {
    display: none;
}

.tab-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.tab{
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    font-weight: 400;
}

.tab :hover{
    font-weight: 700;
}

.home-icon{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: white;
    color: #000;
}

.tab p{
    margin: 0 2.5px;
    font-weight: 400;
    color: white;
    font-family: century-gothic,sans-serif;
}

.tab.active {
    border: white 1px solid;
    transition: 2000ms border linear;   
}

.tab.active p{
    font-weight: 700;
}

@media (min-width: 760px){
    
    nav {
        height: 75px;
    }

    .tablet {
        display: unset;
    }

    .mobile{
        display: none;
    }

    .tab{
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid transparent;
        height: 35px;
    }

    .home-icon{
        height: 35px;
        width: 35px;
        font-size: 1.3rem;
    }
    
    .tab p{
        max-width: 100%;
        font-size: 1.1rem;
        padding: 10px;
    }
}


@media (min-width: 1024px){
    .tab-container{
        max-width: 1200px;
    }
}