@import url("https://use.typekit.net/fjw0rlz.css");

nav{
    background: black;
    width: 100vw;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    position: fixed;
    z-index: 1;
}

.tab-container{
    max-width: 1200px;
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.tab-container a{ 
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    height: 35px;
    transition: background 0.5s linear;
}

.tab-container p{
    max-width: 300px;
    transition: max-width 0.5s linear;
}

.tab{
    border: 2px solid white;
    border-radius: 100px;
    background: black;

}

.tab p {
    font-weight: 700;
    overflow: hidden;
    max-width: 0;
    letter-spacing: 1px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: white;
    color: black;
    border-radius: 100px;
    font-size: 1.5rem;
}

section{
    height: 100vh;
    padding-top: 100px;
}

#home{
    background: red;
}

#about{
    background: blue;
}

#portfolio{
    background: orange;
}

#contact{
    background: purple
}