@import url("https://use.typekit.net/fjw0rlz.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: century-gothic,sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  color: white;
  width: 100vw;
  background: #111111;
}

html{
  scroll-behavior: smooth;
}

section{
  margin: 0 auto;
  max-width: 1200px;
}
