@import url("https://use.typekit.net/fjw0rlz.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: century-gothic,sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  color: white;
  width: 100vw;
  background: #111111;
}

html{
  scroll-behavior: smooth;
}

section{
  margin: 0 auto;
  width: 100%;
}

.container{
  padding: 75px 5%;
  margin: auto 0;
}

h1{
  font-size: 2.19rem;
}

p, .left-col, .right-col{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
}

/*************
media queries
*************/
@media (min-width: 760px){
  h1 {
    font-size: 4.7rem;
  }

  p, .left-col, .right-col{
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1024px){

  .container {
   max-width: 1200px;
   padding: 100px 5%;
  }

}

@media (min-width: 1200px){
  .container{
    width: 100%;
    padding: 100px 0;
    margin: 0 auto;
  }

}