@import url("https://use.typekit.net/fjw0rlz.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  color: white;
  width: 100vw;
  background: #222222;
}

html{
  scroll-behavior: smooth;
}

section{
  margin: 0 auto;
  width: 100%;
}

.container{
  padding: 75px 5%;
  margin: auto 0;
}

h1{
  font-size: 2.19rem;
  font-family: century-gothic,sans-serif;
}

h2{
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  font-family: century-gothic,sans-serif;
}

p, .left-col, .right-col{
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5rem;
  margin-top: 1.5rem;
}

a {
  text-decoration: none;
  font-family: century-gothic,sans-serif;
}

.copyright, .copyright2{
  color: #858585;
  font-size: 0.75rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

/*************
media queries
*************/
@media (min-width: 760px){
  h1 {
    font-size: 4.7rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p, .left-col, .right-col{
    font-size: 1.25rem;
    line-height: 2.5rem;
  }

  .copyright{
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }

  .copyright2{
    font-size: 1rem;
  }

}

@media (min-width: 1024px){

  .container {
   max-width: 1200px;
   padding: 100px 5%;
  }

  .left-col{
    margin-right: 2%;
  }

  .right-col{
    padding-left: 2%;
  }

}

@media (min-width: 1200px){
  .container{
    height: auto;
    width: 100%;
    padding: 7.5% 0;
    margin: 0 auto;
  }
}

/*********
  smooth transition animation
  *************/


  @keyframes fadeIn {
    from{
      opacity: 0;
    }

    to{
      opacity: 1;
    }
  }

  @keyframes slide {
    from{
      transform: translateX(-100vw);
    }

    to{
      transform: rotateX(0);
    }
  }


  